---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="">
  <ul class="flex flex-col gap-3 select-none">
    {
      [
        ["tesla", "#cc0000"],
        ["valorant", "#FD4556"],
        ["x", "rgb(29, 155, 240)"],
        ["youtube", "rgb(255, 30, 30)"],
      ].map(([name, color]) => {
        return (
          <li>
            <Card
              name={name}
              color={color}
              data={{
                money: {
                  perHour: "25",
                },
              }}
            />
          </li>
        );
      })
    }
  </ul>
</Layout>
