---
import Icon from "../layouts/Icons.astro";
import Brand from "../layouts/Brands.astro";

interface Props {
  name: string;
  color: string;
  data: {
    money: {
      perHour: string;
    };
  };
}

const { name, color, data } = Astro.props;
---
<div
  class="w-[70vw] h-fit bg-slate-100 rounded-md p-3 flex flex-row items-center"
>
  <div class="grid place-content-start gap-2 grid-cols-[max-content_1fr] grid-row-2 w-full h-full">
    <div class="rounded-full aspect-square h-12 p-2 hover:animate-spin [animation-fill-mode:_both;]
    [animation-delay:_1s;] cursor-wait" style={`background-color: ${color};`}>
      <Brand name={name} />
    </div>
    <div class="flex flex-col font-semibold text-lg capitalize">
      {name}
      <span class="font-thin text-sm text-gray-500">tipo</span>
    </div>
    <div class="col-span-2">$ {data.money.perHour} <span class="text-zinc-500">per hour</span></div>
  </div>
  <div class="row-span-2 grid place-content-center transition cursor-pointer"><Icon name="keyboard_arrow_right" /></div>
</div>
